WCFClientApplication/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmployeeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/EmployeeService/Service.svc?xsd=xsd0" namespace="http://MyCompany.com/Employee" />
      <xsd:import schemaLocation="http://localhost/EmployeeService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/EmployeeService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
      <xsd:import schemaLocation="http://localhost/EmployeeService/Service.svc?xsd=xsd3" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmplpoyeeRequest">
    <wsdl:part xmlns:q1="http://MyCompany.com/Employee" name="parameters" element="q1:EmployeeRequestObject" />
  </wsdl:message>
  <wsdl:message name="EmplpoyeeRequest_Headers">
    <wsdl:part xmlns:q2="http://MyCompany.com/Employee" name="LicenseKey" element="q2:LicenseKey" />
  </wsdl:message>
  <wsdl:message name="EmployeeInfo">
    <wsdl:part xmlns:q3="http://MyCompany.com/Employee" name="parameters" element="q3:EmployeeInfoObject" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_progress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:progress" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployee" name="EmplpoyeeRequest" message="tns:EmplpoyeeRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeResponse" name="EmployeeInfo" message="tns:EmployeeInfo" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployee" name="EmployeeInfo" message="tns:EmployeeInfo" />
    </wsdl:operation>
    <wsdl:operation name="progress">
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/progress" message="tns:IEmployeeService_progress_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmployeeService" type="tns:IEmployeeService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmployeeService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployee" style="document" />
      <wsdl:input name="EmplpoyeeRequest">
        <soap12:header message="tns:EmplpoyeeRequest_Headers" part="LicenseKey" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmployeeInfo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/SaveEmployee" style="document" />
      <wsdl:input name="EmployeeInfo">
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="progress">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/progress" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="NetTcpBinding_IEmployeeService" binding="tns:NetTcpBinding_IEmployeeService">
      <soap12:address location="net.tcp://hafs-pc/EmployeeService/Service.svc/EmployeeService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://hafs-pc/EmployeeService/Service.svc/EmployeeService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/hafs-PC</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>